@model Question
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = Model.Title;
    List<Answer> Answers = (List<Answer>)ViewData["Answers"];
}

<h1>@Model.Title</h1>
<div>@Model.Detail</div>
<div>Asked on @Model.Posted by @Model.Username</div>
<h2>Answers</h2>
@if (Answers.Count == 0)
{
    <p>There are no answers yet.</p>
    <p><a href="/QandA/AddAnswer/@Model.Id">Submit your own!</a></p>
}



@foreach (Answer a in Answers)
{
    string username = Context.Session.GetString("Username");
    <p>
        <strong>@a.Username</strong>:
        @a.Detail<br />
        <em>@a.Posted</em> Votes: @a.Upvotes<br />
        @if (a.Username.Equals(username))
        {
            <a href="/QandA/EditAnswer/@a.Id">Edit</a>
            <a href="/QandA/DeleteAnswer/@a.Id">DELETE!</a>
        }

    </p>
}


